In [1]:
import pandas as pd

In [3]:
pd.read_excel('chds_percentages.xls')

                                     Org  Different  COUNT    PCT_ROW
0       ALACHUA COUNTY HEALTH DEPARTMENT  DIFFERENT     51  28.491620
1       ALACHUA COUNTY HEALTH DEPARTMENT       SAME    128  71.508380
2         BAKER COUNTY HEALTH DEPARTMENT  DIFFERENT      9  36.000000
3         BAKER COUNTY HEALTH DEPARTMENT       SAME     16  64.000000
4           BAY COUNTY HEALTH DEPARTMENT  DIFFERENT     17  18.279570
..                                   ...        ...    ...        ...
125     WAKULLA COUNTY HEALTH DEPARTMENT       SAME     26  86.666667
126      WALTON COUNTY HEALTH DEPARTMENT  DIFFERENT     19  26.760563
127      WALTON COUNTY HEALTH DEPARTMENT       SAME     52  73.239437
128  WASHINGTON COUNTY HEALTH DEPARTMENT  DIFFERENT     12  66.666667
129  WASHINGTON COUNTY HEALTH DEPARTMENT       SAME      6  33.333333

[130 rows x 4 columns]

In [38]:
chds_different_only_df = pd.read_excel('chds_different_only.xls')
chds_different_only_df = chds_different_only_df.sort_values(by=['PCT_OF_DIFFERENT'], ascending=False)

chds_different_only_df.describe()

            COUNT  PCT_OF_DIFFERENT
count   65.000000         65.000000
mean    20.246154         30.786040
std     20.340101         19.218088
min      2.000000          4.938272
25%      6.000000         15.384615
50%     13.000000         26.315789
75%     23.000000         43.181818
max    102.000000         75.000000

In [35]:
chds_different_only_df

                                   Org  Different  COUNT  PCT_OF_DIFFERENT
0     FLAGLER COUNTY HEALTH DEPARTMENT  DIFFERENT      3         75.000000
1      MARTIN COUNTY HEALTH DEPARTMENT  DIFFERENT     34         72.340426
2      CITRUS COUNTY HEALTH DEPARTMENT  DIFFERENT     31         72.093023
3      GLADES COUNTY HEALTH DEPARTMENT  DIFFERENT      5         71.428571
4     LIBERTY COUNTY HEALTH DEPARTMENT  DIFFERENT     10         66.666667
..                                 ...        ...    ...               ...
60     MONROE COUNTY HEALTH DEPARTMENT  DIFFERENT      6         10.169492
61  HIGHLANDS COUNTY HEALTH DEPARTMENT  DIFFERENT      5          9.615385
62    COLLIER COUNTY HEALTH DEPARTMENT  DIFFERENT     12          8.759124
63     TAYLOR COUNTY HEALTH DEPARTMENT  DIFFERENT      2          8.333333
64    BREVARD COUNTY HEALTH DEPARTMENT  DIFFERENT      8          4.938272

[65 rows x 4 columns]

In [12]:
county_df = pd.read_excel('county_comparison.xlsx')
county_df['Different'].value_counts()

Different
SAME         7691
DIFFERENT    2286
Name: count, dtype: int64

In [25]:
only_counties_df = county_df[county_df['Org'].str.contains("COUNTY")]
only_counties_df.describe()

,Org,County_Home,Home_State,County_Work,Different
count,5729,5691,5729,5729,5729
unique,66,67,14,67,2
top,PINELLAS COUNTY HEALTH DEPARTMENT,Pinellas,FL,Pinellas,SAME
freq,505,422,5691,502,4407